{
    "branches": [
        "v+([0-9])?(.{+([0-9]),x}).x",
        "main",
        {
            "name": "beta",
            "prerelease": true
        },
        {
            "name": "alpha",
            "prerelease": true
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "../updateVersion.sh '${nextRelease.version}' 'Pluggy.SDK.csproj'"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "Pluggy.SDK.csproj"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}